.header{
	margin-bottom: 0px;
}

.descriptionContainer{
	display: flex;
	margin-top: 0%;
	flex-direction: column;
	gap: 4px;
	width: 30%;
}

.description{
	width: 50%;
	font-family: f;
	margin-top: 0px;
	margin-bottom: 15%;
	padding-top: 0px;

}

.price__description{

	margin-left: 10px;
}
